@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-GochiHand box-border;
}

/* .App{
  display: flex;
} */
/* .header{
  background-color: #6F7DFB;
}

.primaryBtn{
  background-color: #023047;
}

.hero{
  background-color: #6F7DFB;
}

.secondaryBtn{
  background-color: #DA722C;
} */